
<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="bulma.css">

  <title>Adivinanzas</title>

  <style>
    .hidden{
      display: none;
    }
  </style>

</head>

<body>

  <div id='neko'>
    <h3>{{ title }}</h3>
    <div id="historia" class='hidden'>
    <ul>
          <li
          v-for="(todo, n) in historia"
        >{{ todo }}<button @click="removeHistoria (n)">X</button></li>
    </ul>
    <a class="button" href="index.html">Jugar de nuevo</a>
    </div>
    <div id='maScore' class='hidden'>

      <input 
      v-model="historial"
      v-on:keyup.enter="addHistoria"
      placeholder="Ingrese su nombre"
    >

    </div>
    <div id='mAdivinanzas'>
    <p id='guess'>

    </p>

    <button v-on:click='verPistas' onclick="show()" onmouseout='hide()'>Pistas!</button>
    <div id='answer'>

    </div>
    <hr>
    <input 
      v-model="respuesta"
      v-on:keyup.enter="correcta"
      placeholder="Respuesta"
    >
    </div>

  </div>
  

  <script src='vue.js'></script>

  <script src='adivinanzas.js'></script>

</body>

</html>